{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<body class="test">
    <h1 class="cst">Csapattagok</h1>
    <div class="tartó">
        <div class="product">
            <div class="product-card">
                <h2 class="name">Miniszteri biztos</h2>
                <a class="popup-btn" onclick="hideSidebar()">Kiss Csongor</a>
                <img src="static\images\kcsongor.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\kcsongor.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Kiss Csongor<br><span>Királyok</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam cupiditate delectus nesciunt vero sapiente facilis optio numquam omnis inventore autem alias, maxime quibusdam libero at eius voluptate. Neque, obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Miniszteri biztos</h2>
                <a class="popup-btn" onclick="hideSidebar()">Smauzer Dávid</a>
                <img src="static\images\smauzer.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\smauzer.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Smauzer Dávid<br><span>Királyok</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam cupiditate delectus nesciunt vero sapiente facilis optio numquam omnis inventore autem alias, maxime quibusdam libero at eius voluptate. Neque, obcaecati.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Miniszteri biztos</h2>
                <a class="popup-btn" onclick="hideSidebar()">Csete Ádám</a>
                <img src="static\images\adam.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\adam.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Csete Ádám<br><span>Királyok</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam cupiditate delectus nesciunt vero sapiente facilis optio numquam omnis inventore autem alias, maxime quibusdam libero at eius voluptate. Neque, obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Miniszteri biztos</h2>
                <a class="popup-btn" onclick="hideSidebar()">Baán Gyula</a>
                <img src="static\images\gyula.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\gyula.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Baán Gyula<br><span>Királyok</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam cupiditate delectus nesciunt vero sapiente facilis optio numquam omnis inventore autem alias, maxime quibusdam libero at eius voluptate. Neque, obcaecati.</p>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Miniszteri biztos</h2>
                <a class="popup-btn" onclick="hideSidebar()">Szövérfi Csongor</a>
                <img src="static\images\szcsongor.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\szcsongor.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Szövérfi Csongor<br><span>Királyok</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam cupiditate delectus nesciunt vero sapiente facilis optio numquam omnis inventore autem alias, maxime quibusdam libero at eius voluptate. Neque, obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}