{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<body class="test">
    <h1 class="text-center mt-5 mb-4">Mit tudsz nálunk vásárolni?</h1>
    <div class="row masodikresz">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="static\images\Bunyós Pityu x Mike Tyson - poló (3990 Ft).jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="polo fs-5">Személyre szabott stílus és kényelem találkozik a mulatós zene iránti rajongással a pólók és pulóverek kategóriájában. Válogass egyedi design-ok között, melyek kifejezik a mulatós zene szeretetét és tiszteletét. Legyen szó akár Zámbó Jimmy, Delhusa Gjon vagy más ikonikus előadók emblémáiról, ezek a ruhadarabok nem csupán divatos megjelenést biztosítanak, hanem lehetővé teszik számodra, hogy büszkén mutasd meg hová tartozol és milyen zenéket kedvelsz. Kényelmes viseletükkel és minőségi anyagaikkal garantáltan kedvenceddé válnak mindennapi viseletedben, és emlékeztetni fognak arra, hogy a mulatós zene mindig veled van.</p>
        </div>
    </div>
    <div class="row masodikresz">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="lemezek fs-5">Keress mélyreható és érzelmekkel teli zenés élményeket a CD-k és DVD-k széles választékában. Fedezd fel újra az ikonikus mulatós dalokat, vagy gyűjtsd össze a kedvenc előadóid legújabb és leghíresebb albumait. Legyen szó akár Zámbó Jimmy, Delhusa Gjon, Pataky Attila vagy más nagy névről, az általunk kínált CD-k és DVD-k lehetővé teszik számodra, hogy elmerülj a mulatós zene világában bármikor, bárhol. Élvezd az élet zenéjét, és színesítsd az otthoni szórakozást ezekkel a kiváló minőségű hanghordozókkal, melyek méltóak a mulatós zene hagyományaira és hírnevére.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="static\images\Zámbó Jimmy - Karácsony Jimmyvel (CD, 3990 Ft).jpg" class="img-fluid lemezkep" alt="">
        </div>
    </div>
    <h1 class="text-center mt-5 mb-4">A csapat tagjai</h1>
    <div class="tartó">
        <div class="product">
            <div class="product-card">
                <h2 class="name">Technikai menedzser</h2>
                <a class="popup-btn" onclick="hideSidebar()">Kiss Csongor</a>
                <img src="static\images\kcsongor.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\kcsongor.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Kiss Csongor<br><span>Dáridó Kft</span></h2>
                        <p>Kiss Csongor vagyok, a cég technikus menedzsere. Tapasztalatom és szakértelmem a technikai területeken segíteni fog abban, hogy hatékonyan vezéreljem a technikai csapatot és biztosítsam a projektek sikeres végrehajtását. Az elmúlt évek során számos különböző technológiai kihívással találkoztam, és mindig lelkesen és hatékonyan oldottam meg azokat. Az erős vezetői képességeimnek és a technikai szaktudásomnak köszönhetően biztos vagyok benne, hogy képes leszek irányítani és inspirálni a csapatot.</p>
                        <p><span class="elerhetoseg">Email: kiss.csongor@students.jedlik.eu</span><br>
                            <span class="elerhetoseg">Telefonszám: +36 70 211 4952</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Média menedzser</h2>
                <a class="popup-btn" onclick="hideSidebar()">Smauzer Dávid</a>
                <img src="static\images\smauzer.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\smauzer.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Smauzer Dávid<br><span>Dáridó Kft</span></h2>
                        <p>Smauzer Dávid vagyok, a cég média menedzsere. Tapasztalatom és szenvedélyem a médiaipar iránt segíteni fog abban, hogy hatékonyan koordináljam a médiastratégia kidolgozását és végrehajtását. Az elmúlt évek során számos különböző média projekten dolgoztam, és büszke vagyok arra, hogy sikeresen hozzájárultam a kampányok sikeréhez. Az erős kommunikációs képességeimnek és a kreativitásomnak köszönhetően bízom benne, hogy új lendületet és ötleteket hozhatok a csapatba.</p>
                        <p><span class="elerhetoseg">Email: smauzer.david@students.jedlik.eu</span><br>
                            <span class="elerhetoseg">Telefonszám: +36 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Technikus</h2>
                <a class="popup-btn" onclick="hideSidebar()">Csete Ádám</a>
                <img src="static\images\adam.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\adam.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Csete Ádám<br><span>Dáridó Kft</span></h2>
                        <p>Csete Ádám vagyok, a cég technikusa. Tapasztalatom és elkötelezettségem a technikai területeken segíteni fog abban, hogy hatékonyan támogassam a cég működését és fejlődését. Az elmúlt évek során számos különböző technikai problémával találkoztam, és mindig lelkesen és hatékonyan oldottam meg azokat. Az erős problémamegoldó képességeimnek és a technikai szaktudásomnak köszönhetően biztos vagyok benne, hogy hozzá tudok járulni a csapat és a cég sikeréhez.</p>
                        <p><span class="elerhetoseg">Email: csete.adam@students.jedlik.eu</span><br>
                            <span class="elerhetoseg">Telefonszám: +36 30 223 0028 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Technikai dokumentáló</h2>
                <a class="popup-btn" onclick="hideSidebar()">Baán Gyula</a>
                <img src="static\images\gyula.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\gyula.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Baán Gyula<br><span>Dáridó Kft</span></h2>
                        <p>Baán Gyula vagyok, és nagy lelkesedéssel csatlakoztam a csapathoz mint technikai dokumentáló. Tapasztalatom és hitelességem alapján rendkívül elkötelezett vagyok az informatikai folyamatok és termékek dokumentálása iránt. A precizitás és a strukturált gondolkodás segít abban, hogy átlátható és könnyen érthető dokumentumokat állítsak össze, amelyek hozzájárulnak a projektek hatékony végrehajtásához és a termékek minőségéhez. </p>
                        <p><span class="elerhetoseg">Email: baan.gyula@students.jedlik.eu</span><br>
                            <span class="elerhetoseg">Telefonszám: +36 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <h2 class="name">Projektmenedzser</h2>
                <a class="popup-btn" onclick="hideSidebar()">Szövérfi Csongor</a>

                <img src="static\images\szcsongor.jpg" class="product-img" alt="adam">
            </div>
            <div class="popup-view">
                <div class="popup-card">
                    <a onclick="unhideSidebar()"><i class="fas fa-times close-btn"></i></a>
                    <div class="product-img">
                        <img src="static\images\szcsongor.jpg" alt="">
                    </div>
                    <div class="info">
                        <h2>Szövérfi Csongor<br><span>Dáridó Kft</span></h2>
                        <p>Szövérfi Csongor vagyok, és nagy örömmel csatlakoztam a csapathoz, mint a projektmenedzser. Tapasztalatom és szenvedélyem a projektmenedzsment iránt segít abban, hogy hatékonyan vezéreljem a projekteket, és biztosítsam a sikeres kimenetelt. Az elmúlt évek során számos komplex projektben vettem részt, és büszke vagyok arra, hogy mindig határidőre és költségvetésen belül sikerült teljesítenünk. A kommunikációm erős és meggyőző, ami segít a csapat összekovácsolásában és a céljaink elérésében.</p>
                        <p><span class="elerhetoseg">Email: szoverfi.csongor@students.jedlik.eu</span><br>
                            <span class="elerhetoseg">Telefonszám: +36 </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}