{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container h-100" id="loginContent">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">


                <h3 id="form-title">Bejelentkezés</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" placeholder="Felahsználónév" class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                            <input type="password" name="password" placeholder="Jelszó" class="form-control" >
                    </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                             <input class="btn login_btn" type="submit" value="Bejelentkezés">
                           </div>
                </form>

            </div> 
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Nincs még fiókod? <a href="{% url 'register' %}" class="ml-2">Regisztráció</a>
                </div>
        
            </div>
        </div>
    </div>
</div>
<div class="popup" id="popup">
    <img src="{% static 'images/x.png' %}" />
    <h2></h2>
    {% for message in messages %}
    <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <button id="popupClose">OK</button>
</div>

{% if messages %}
<script>
    popup = document.getElementById('popup');
    content = document.getElementById('loginContent')

    content.style.opacity = '0.1'
    popup.style.display = 'block';

    setTimeout(loginAnimation, 4000);

    function loginAnimation() {
        document.getElementById('popup').style.animation = "closePopupAnimation 0.5s ease-in-out";
        document.getElementById('loginContent').style.animation = "opacityAnimation 0.5s ease.out";

        setTimeout(function() {
            document.getElementById('popup').style.animation = "";
            document.getElementById('loginContent').style.animation = "";
            document.getElementById('popup').style.display = "none";
            document.getElementById('loginContent').style.opacity = 1;
        }, 500);  
    }

    var popupClose = document.getElementById('popupClose')
    popupClose.addEventListener("click", function () {
        loginAnimation()
      });

</script>
{% endif %}

{% endblock content %}