{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<link rel="stylesheet" href="{% static 'css/messages.css' %}" />
<body>
    <div class="container">
        <div class="leftSide">
            <!-- Header -->
            <div class="header">
                <div class="userimg">
                    <img src="{{self_profile.imageURL}}" alt="" class="cover">
                </div>
                <ul class="nav_icons">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div>
            <!-- Search Chat -->
            <div class="search_chat">
                <div>
                    <input type="text" placeholder="Search or start new chat">
                    <ion-icon name="search-outline"></ion-icon> 
                </div>                
            </div>
            <!-- CHAT LIST -->
            <form method="POST" id="selectFriendForm">
            {% csrf_token %}
            <input type="hidden" name="friend_name" id="friendNameField" value="">
            <div class="chatlist">
                {% for friend in self_profile.friends.all %}
                <div class="block friend" onclick="selectFriend('{{friend.name}}')">
                    <div class="imgBox">
                        <img src="{{friend.imageURL}}" class="cover">
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>{{friend.name}}</h4>

                            {% for actual_friend, last_message_with_friend in last_messages_with_friends %}
                                {% if last_message_with_friend and actual_friend == friend %}
                                    <p class="time">{{ last_message_with_friend.sent_date|date:'Y.m.d - H:i'}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for actual_friend, last_message_with_friend in last_messages_with_friends %}
                            <div class="message_p">
                                {% if last_message_with_friend and friend == actual_friend %}
                                    {% if last_message_with_friend.sender == friend %}
                                        <p style="color: blue;">ő: {{ last_message_with_friend.content|slice:":30"}}...</p>
                                    {% else %}
                                        <p style="color: green;">te: {{ last_message_with_friend.content|slice:":30"}}...</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" style="display: none;">Submit</button>
            </div>
            </form>

        </div>
        <div class="rightSide">
            <div class="header">
                <div class="imgText">
                    <div class="userimg">
                        {% if current_friend %}
                        <img src="{{current_friend.imageURL}}" class="cover">
                        {% endif %}
                    </div>
                    {% if current_friend %}
                    <h4>{{current_friend}}</h4>
                    {% endif %}
                </div>
                <ul class="nav_icons">
                    <li><ion-icon name="search-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div>

            <!-- CHAT-BOX -->
            <div class="chatbox">
                {% for message in self_messages.all %}
                    {% if message.receiver == current_friend and message.sender == self_profile %}
                    <div class="message my_msg">
                        <p>{{message.content}}<br><span>{{message.sent_date|date:'Y.m.d - H:i'}}</span></p>
                    </div>
                    {% elif message.sender == current_friend and message.receiver == self_profile %}
                    <div class="message friend_msg">
                        <p>{{message.content}}<br><span>{{message.sent_date|date:'Y.m.d - H:i'}}</span></p>
                    </div>
                    {% endif %}


                {% endfor %}
            </div>
            
            <!-- CHAT INPUT -->
        {% if form %}
        <form id="sent_message" method=POST>
        {% csrf_token %}
            <div class="chat_input">
                <ion-icon name="happy-outline"></ion-icon>
                {{form.content}}
                <button type="submit" class='send_message bx bx-send'></button>
            </div>
        </form>
        {% endif %}
    </div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    function selectFriend(friendName) {
    document.getElementById('friendNameField').value = friendName;
    document.getElementById('selectFriendForm').submit();
    }
    </script>

</body>

{% endblock content %}