{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<body className='snippet-body'>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center">
                        <img src="{{profile.imageURL}}" class="rounded-circle profile_img">
                    </div>
                    <div class="text-center mt-3">
                        <form method=POST>
                        {% csrf_token %}
                            {% if profile != self_profile %}
                            {% if profile in self_profile.follows.all %}
                            <div>
                                <span class="bg-success p-1 px-4 rounded text-white">Követed</span>
                                <button name="follow" value="unfollow;{{profile}}" type="submit" class="bx bx-user-minus unfollow_btn big_btn"></button>
                            </div>
                            {% else %}
                            <div>
                                <span class="bg-danger p-1 px-4 rounded text-white">Nem követed</span>
                                <button name="follow" value="follow;{{profile}}" type="submit" class="bx bx-user-plus follow_btn big_btn"></button>
                            </div>
                            {% endif %}   
                            {% endif %}
                        </form>
                        <h4 class="mt-2 mb-0">{{profile.name}}</h4>
                        <div class="block" style="margin-bottom: 20px;">
                            {% if profile.email != None %}
                            <span class="span">{{profile.email}}</span>
                            {% endif %}
                            {% if profile.phone_number != None %}
                            <span class="span">{{profile.phone_number}}</span>
                            {% endif %}
                        </div>
                        <div class="block description">
                            {% if profile.description != None %}
                            <span class="span">{{profile.description}}</span>
                            {% endif %}
                        </div>

                        <div class="sor">
                            <div class="div1">
                                <h5 class="mt-2 mb-0">Követők:</h5>
                                <div class="block">
                                    
                                    <form form id="follower1" method=POST>
                                        {% csrf_token %}
                                        
                                        {% for follower in profile.followers.all|slice:":1" %}
                                        
                                        <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' follower.user.id %}">
                                            <img src="{{follower.imageURL}}" class="rounded-circle follower_img">
                                            <span class="span follower_a">{{follower}}</span></a>
    
                                            {% if follower != self_profile %}
                                                {% if follower in profile.follows.all %}
                                                <button name="follow" value="unfollow;{{follower}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                                {% else %}
                                                <button name="follow" value="follow;{{follower}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        {% endfor %} 
                                    </form>

                                    <form id="follower2" class="hidden" method=POST>
                                        {% csrf_token %}
                                        
                                        {% for follower in profile.followers.all %}
                                        
                                        <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' follower.user.id %}">
                                            <img src="{{follower.imageURL}}" class="rounded-circle follower_img">
                                            <span class="span follower_a">{{follower}}</span></a>
    
                                            {% if follower != self_profile %}
                                                {% if follower in profile.follows.all %}
                                                <button name="follow" value="unfollow;{{follower}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                                {% else %}
                                                <button name="follow" value="follow;{{follower}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        {% endfor %} 
    
                                    </form>
                                    {% if profile.followers.all.count > 1 %}
                                    <div id="morefollower" style="margin-top: 15px;">
                                        <button id="morefollowerBtn" class="bx bxs-down-arrow"></button>
                                        <span class="span follower_a">Több követés</span>
                                    </div>
                                    <div class="hidden" id="lessfollower" style="margin-top: 15px;">
                                        <button id="lessfollowerBtn" class="bx bxs-up-arrow"></button>
                                        <span class="span follower_a">Kevesebb követés</span>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        
                            <div class="div2">
                                <h5 class="mt-2 mb-0">Követések:</h5>
                                <form id="following1" method=POST>
                                    {% csrf_token %}
                                    
                                    {% for following in profile.follows.all|slice:":1" %}
                                    
                                    
                                    <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' following.user.id %}">
                                        <img src="{{following.imageURL}}" class="rounded-circle follower_img">
                                        <span class="span follower_a">{{following}}</span></a>
                                        {% if following != self_profile %}
                                            {% if following in self_profile.follows.all %}
                                            <button name="follow" value="unfollow;{{following}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                            {% else %}
                                            <button name="follow" value="follow;{{following}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </form>      
                                <form class="hidden" id="following2" method=POST>
                                    {% csrf_token %}
                                    
                                    {% for following in profile.follows.all %}
                                    
                                    
                                    <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' following.user.id %}">
                                        <img src="{{following.imageURL}}" class="rounded-circle follower_img">
                                        <span class="span follower_a">{{following}}</span></a>
                                        {% if following != self_profile %}
                                            {% if following in self_profile.follows.all %}
                                            <button name="follow" value="unfollow;{{following}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                            {% else %}
                                            <button name="follow" value="follow;{{following}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </form>
                                {% if profile.follows.all.count > 1 %}
                                <div id="morefollowing" style="margin-top: 15px;">
                                    <button id="morefollowingBtn" class="bx bxs-down-arrow"></button>
                                    <span class="span follower_a">Több követés</span>
                                </div>
                                <div class="hidden" id="lessfollowing" style="margin-top: 15px;">
                                    <button id="lessfollowingBtn" class="bx bxs-up-arrow"></button>
                                    <span class="span follower_a">Kevesebb követés</span>
                                </div>
                                {% endif %}
                            </div>
                            
                            </div>
                        </div>
                    </div> 
                </div>  
            </div> 
        </div>
    </div>
    {% if profile == self_profile %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4"> 
                    <div class="text-center mt-3">
                        <h3 class="mt-2 mb-0">Rendeléseim:</h3>
                        {% for order in orders %}
                        <div class="sor">
                            <div class="div2">
                                <h4 style="text-decoration: underline;" class="mt-2 mb-0">{{order}}</h4> 
                                <h5 class="mt-2 mb-0">{{order.get_cart_total|intcomma}} Ft</h5> 
                            </div>
                            <div class="div1">
                            {% for order_item in order_items %}
                                {% if order.id == order_item.order_id %} 
                                    {% for product in products %}
                                        {% if product.id == order_item.product_id %}
                                            <img class="orderphoto" src="{{product.imageURL}}" class="rounded-circle">
                                            <h6 class="fonts">{{order_item.quantity}} db - {{order_item.product}}</h6>
                                            <h6 class="fonts">{{product.price|intcomma}} Ft</h6>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4"> 
                    <div class="text-center mt-3">
                        <h4 class="mt-2 mb-0">Posztjaim:</h4>
                        <div>
                            <img class="orderphoto" src="" width="400" class="rounded-circle">
                        </div>
                        <div>
                            <h4 class="mt-2 mb-0">Poszt címe</h4>
                            <p class="fonts">A poszt hosszabb leírása. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var moreFollowingButton = document.getElementById("morefollowingBtn");
    var lessFollowingButton = document.getElementById("lessfollowingBtn");

    moreFollowingButton.addEventListener("click", function() {
        document.getElementById("morefollowing").classList.add('hidden')
        document.getElementById("lessfollowing").classList.remove('hidden')
        document.getElementById("following1").classList.add('hidden')
        document.getElementById("following2").classList.remove('hidden')
    });

    lessFollowingButton.addEventListener("click", function() {
        document.getElementById("morefollowing").classList.remove('hidden')
        document.getElementById("lessfollowing").classList.add('hidden')
        document.getElementById("following2").classList.add('hidden')
        document.getElementById("following1").classList.remove('hidden')
    });

</script>

<script>
    var moreFollowerButton = document.getElementById("morefollowerBtn");
    var lessFollowerButton = document.getElementById("lessfollowerBtn");

    moreFollowerButton.addEventListener("click", function() {
        document.getElementById("morefollower").classList.add('hidden')
        document.getElementById("lessfollower").classList.remove('hidden')
        document.getElementById("follower1").classList.add('hidden')
        document.getElementById("follower2").classList.remove('hidden')
    });

    lessFollowerButton.addEventListener("click", function() {
        document.getElementById("morefollower").classList.remove('hidden')
        document.getElementById("lessfollower").classList.add('hidden')
        document.getElementById("follower2").classList.add('hidden')
        document.getElementById("follower1").classList.remove('hidden')
    });

</script>

{% endblock content %}
