{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div id="formContent">
<form method="GET" action=".">
  {% csrf_token %}

  <div style="margin: auto;" class="form-group col-lg-4 col-md-4 col-sm-4 balance">
    <div class="input-group" style="padding-top: 32px;">
      <input class="form-control py-2 border-right-0 border" type="search" placeholder="Kulcsszó" name="product_name" id="pname">
      <span class="input-group-append" id="pname-icon">
        <div class="input-group-text bg-transparent"><i class='bx bx-search-alt-2'></i></div>
      </span>
      </div>
      <p style="text-align: center;"><a id="moreFilter" href="#" class="nav-link">Részletes szűrés</a></p>
  </div>

  <div id="toggleFilter" class="hidden">
  <div style="margin-top: 20px;" class="form-row">
    <div class="form-group col-lg-6 col-md-12 col-sm-12 balance">
      <label >Márka</label>
      <select id="inputState" class="form-control" name="brand">
        <option ></option>
        {% for bran in brands %}
        <option value="{{ bran }}">{{ bran }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12 balance">
      <label>Kategória</label>
      <select id="inputState" class="form-control" name="category">
        <option ></option>
        {% for cat in categories %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
      </select>
    </div>
    
  </div>
    
  
  <div style="margin-bottom: 10px;" class="form-row">
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Értékelés</label>
      <input type="number" min="0" max="4.9" step="0.1" class="form-control" id="viewCountMin" placeholder="0" name="rating_min">
    </div>
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Értékelés</label>
      <input type="number" min="0" max="5" step="0.1" class="form-control" id="viewCountMax" placeholder="5" name="rating_max">
    </div>
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Ár</label>
      <input type="number" min="0" step="1" class="form-control" id="viewCountMin" placeholder="1500 Ft" name="price_min">
    </div>
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Ár</label>
      <input type="number" min="0" step="1" class="form-control" id="viewCountMax" placeholder="14990 Ft" name="price_max">
    </div>
    
  </div>
  </div>
    <div class="form-group">
      <div class="form-check">
        <button style="background-color: skyblue; width: 200px; margin: auto; display: block; font-weight: bold;" class="button-33 add-to-cart" role="button">Keresés</button>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <button style="background-color: rgb(255, 119, 0); width: 200px; margin: auto; display: block; font-weight: bold;" class="button-33 add-to-cart" role="button">Termékek újratöltése</button>
      </div>
    </div>
</form>



<div class="row" style="margin-top: 100px;" id="lightStore">
  {% for product in products %}
  {% if product.stock > 0 %}
  {% if product.darkweb == False %}
    <div class="col-lg-4 col-md-6 col-sm-12 balance">
      <img class="thumbnail" src="{{ product.imageURL }}" />
      <div class="box-element product">
        <h5><strong>{{ product.pname }}</strong></h5>
        <h6 style="font-size: smaller;"><strong>{{ product.brand.name }}&nbsp;|&nbsp;
          {% for category in product.category.all %}
            {{ category }}
          {% endfor %}
          &nbsp;|&nbsp;
        </strong></h6>
        <hr>
        <h6 style="font-size: small; height: 30px;">{{ product.description }}</h6>
        <hr>
        <h4><strong>{{ product.price|floatformat:0|intcomma }} Ft</strong><i class='bx bx-star rating-star'></i><span class="rating">{{ product.rating }}</span><br><span class="stock">Raktáron: {{ product.stock }} db</span></h4><br>
        
        <button data-product="{{ product.id }}" data-action="add" class="button-33 add-to-cart update-cart" role="button">Kosárba</button>
        <button class="button-33 view" role="button" onclick="lightopenQuickView( '{{ product.id }}', '{{ product.imageURL }}', '{{ product.pname }}', '{{ product.brand.name }}', '{% for category in product.category.all %}{{ category }}{% endfor %}', '{{ product.description }}', '{{ product.price|floatformat:0|intcomma }} Ft', '{{ product.rating }}')">Megtekint</button>
      </div>
    </div>
    <div id="light" class="popup-view">
      <div class="lightcardstore popup-card">
        <a onclick="lightcloseQuickView()"><i class="fas fa-times lightclose-btn"></i></a>
        <div class="lightcardstore-img">
          <img id="lightquick-view-image" src="" alt="">
        </div>
        <div class="lightinfók">
          <h2 id="lightquick-view-name"></h2>
          <p id="lightquick-view-details"></p>
          <button data-product="{{ product.id }}" data-action="add" class="button-33 add-to-cart update-cart quickview" id="lightupdate-cart" role="button">Kosárba</button>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>

<!-- Light Quick View Popup JavaScript -->

<script type="text/javascript">
  function lightopenQuickView(productId, imageURL, name, brand, category, description, price, rating) {
    document.getElementById('lightupdate-cart').setAttribute('data-product', productId);
    document.getElementById('lightquick-view-image').src = imageURL;
    document.getElementById('lightquick-view-name').innerHTML = name + '<br><span>' + brand + '</span>';
    document.getElementById('lightquick-view-details').innerHTML = category +  '<br>' + description + '<br><strong>' + price + '</strong> <i class="bx bx-star rating-star"></i><span class="rating">' + rating + '</span>';
    document.getElementById('light').classList.add('active');
  }

  function lightcloseQuickView() {
    document.getElementById('light').classList.remove('active');
  }
</script>

<div class="row hidden" style="margin-top: 100px;" id="darkStore">
  {% for product in products %}
  {% if product.stock > 0 %}
  {% if product.darkweb == True %}
    <div class="col-lg-4 col-md-6 col-sm-12 balance">
      <img class="thumbnail" src="{{ product.imageURL }}" />
      <div class="box-element product">
        <h5><strong>{{ product.pname }}</strong></h5>
        <h6 style="font-size: smaller;"><strong>{{ product.brand.name }}&nbsp;|&nbsp;
          {% for category in product.category.all %}
            {{ category }}
          {% endfor %}
          &nbsp;|&nbsp;
        </strong></h6>
        <hr>
        <h6 style="font-size: small; height: 30px;">{{ product.description }}</h6>
        <hr>
        <h4><strong>{{ product.price|floatformat:0|intcomma }} Ft</strong><i class='bx bx-star rating-star'></i><span class="rating">{{ product.rating }}</span></h4>
        
        <button data-product="{{ product.id }}" data-action="add" class="button-33 add-to-cart update-cart" role="button">Kosárba</button>
        <button class="button-33 view" role="button" onclick="darkopenQuickView('{{ product.id }}', '{{ product.imageURL }}', '{{ product.pname }}', '{{ product.brand.name }}', '{% for category in product.category.all %}{{ category }}{% endfor %}', '{{ product.description }}', '{{ product.price|floatformat:0|intcomma }} Ft', '{{ product.rating }}')">Megtekint</button>
      </div>
    </div>
    <div id="dark" class="popup-view">
      <div class="darkcardstore popup-card">
        <a onclick="darkcloseQuickView()"><i class="fas fa-times darkclose-btn"></i></a>
        <div class="darkcardstore-img">
          <img id="darkquick-view-image" src="" alt="">
        </div>
        <div class="darkinfók">
          <h2 id="darkquick-view-name"></h2>
          <p id="darkquick-view-details"></p>
          <button data-product="{{ product.id }}" data-action="add" class="button-33 add-to-cart update-cart quickview" id="darkupdate-cart" role="button">Kosárba</button>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
</div>


<!-- Dark Quick View Popup JavaScript -->
<script type="text/javascript">
  function darkopenQuickView(productId, imageURL, name, brand, category, description, price, rating) {
    document.getElementById('darkupdate-cart').setAttribute('data-product', productId);
    document.getElementById('darkquick-view-image').src = imageURL;
    document.getElementById('darkquick-view-name').innerHTML = name + '<br><span>' + brand + '</span>';
    document.getElementById('darkquick-view-details').innerHTML = category +  '<br>' + description + '<br><strong>' + price + '</strong> <i class="bx bx-star rating-star"></i><span class="rating">' + rating + '</span>';
    document.getElementById('dark').classList.add('active');
   }
 
   function darkcloseQuickView() {
     document.getElementById('dark').classList.remove('active');
   }
 </script>

<div class="popup" id="popup">
  <img src="{% static 'images/tick.png' %}" />
  <h2>Köszönjük</h2>
  <p>Sikeresen hozzáadtad a terméket a kosárhoz</p>
  <button id="popupClose">OK</button>
</div>

<script src="{% static 'js/filter.js' %}"></script>



{% endblock content %}
