{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<form method="GET" action=".">
  {% csrf_token %}

  <div style="margin: auto;" class="form-group col-lg-4 col-md-4 col-sm-4 balance">
    <div class="input-group" style="padding-top: 32px;">
      <input class="form-control py-2 border-right-0 border" type="search" placeholder="Kulcsszó" name="product_name" id="pname">
      <span class="input-group-append">
        <div class="input-group-text bg-transparent"><i class='bx bx-search-alt-2'></i></div>
      </span>
      </div>
      <p style="text-align: center;"><a id="moreFilter" href="#" class="nav-link">Részletes szűrés</a></p>
  </div>

  <div id="toggleFilter" class="hidden">
  <div style="margin-top: 20px;" class="form-row">
    <div class="form-group col-lg-6 col-md-12 col-sm-12 balance">
      <label >Márka</label>
      <select id="inputState" class="form-control" name="brand">
        <option ></option>
        {% for bran in brands %}
        <option value="{{ bran }}">{{ bran }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-lg-6 col-md-12 col-sm-12 balance">
      <label>Kategória</label>
      <select id="inputState" class="form-control" name="category">
        <option ></option>
        {% for cat in categories %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
      </select>
    </div>
    
  </div>
    
  
  <div style="margin-bottom: 10px;" class="form-row">
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Értékelés</label>
      <input type="number" min="0" max="4.9" step="0.1" class="form-control" id="viewCountMin" placeholder="0" name="rating_min">
    </div>
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Értékelés</label>
      <input type="number" min="0" max="5" step="0.1" class="form-control" id="viewCountMax" placeholder="5" name="rating_max">
    </div>
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Ár</label>
      <input type="number" min="0" step="1" class="form-control" id="viewCountMin" placeholder="1500 Ft" name="price_min">
    </div>
    <div class="form-group col-lg-3 col-md-6 col-sm-12 balance">
      <label>Ár</label>
      <input type="number" min="0" step="1" class="form-control" id="viewCountMax" placeholder="14990 Ft" name="price_max">
    </div>
    
  </div>
</div>
  <div class="form-group">
    <div class="form-check">
      <button style="background-color: skyblue; width: 200px; margin: auto; display: block; font-weight: bold;" class="button-33 add-to-cart" role="button">Keresés</button>
    </div>
  </div>
</form>



<div class="row" style="margin-top: 100px;">
  {% for product in products %}
    <div class="col-lg-4 col-md-6 col-sm-12 balance">
      <img class="thumbnail" src="{{ product.imageURL }}" />
      <div class="box-element product">
        <h5><strong>{{ product.pname }}</strong></h5>
        <h6 style="font-size: smaller;"><strong>{{ product.brand.name }}&nbsp;|&nbsp;
          {% for category in product.category.all %}
            {{ category }}
          {% endfor %}
          &nbsp;|&nbsp;
          {% for category2 in product.category2.all %}
            {{ category2 }}
          {% endfor %}
        </strong></h6>
        <hr>
        <h6 style="font-size: small; height: 30px;">{{ product.description }}</h6>
        <hr>
        <h4><strong>{{ product.price|floatformat:0 }} Ft</strong><i class='bx bx-star rating-star'></i><span class="rating">{{ product.rating }}</span></h4>
        
        <button data-product="{{ product.id }}" data-action="add" class="button-33 add-to-cart update-cart" role="button">Kosárba</button>
        <button class="button-33 view" role="button" onclick="openQuickView('{{ product.imageURL }}', '{{ product.pname }}', '{{ product.brand.name }}', '{% for category in product.category.all %}{{ category }}{% endfor %}', '{% for category2 in product.category2.all %}{{ category2 }}{% endfor %}', '{{ product.description }}', '{{ product.price|floatformat:0 }} Ft', '{{ product.rating }}')">Megtekint</button>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Quick View Popup HTML -->
<div id="csiresz" class="popup-view">
  <div class="cardstore popup-card">
    <a onclick="closeQuickView()"><i class="fas fa-times close-btn"></i></a>
    <div class="cardstore-img">
      <img id="quick-view-image" src="" alt="">
    </div>
    <div class="infók">
      <h2 id="quick-view-name"></h2>
      <p id="quick-view-details"></p>
      <button data-product="{{ product.id }}" data-action="add" class="button-33 Kosárba add-to-cart update-cart" role="button">Kosárba</button>
    </div>
  </div>
</div>

<!-- Quick View Popup JavaScript -->
<script type="text/javascript">
 function openQuickView(imageURL, name, brand, category, category2, description, price, rating) {
    document.getElementById('quick-view-image').src = imageURL;
    document.getElementById('quick-view-name').innerHTML = name + '<br><span>' + brand + '</span>';
    document.getElementById('quick-view-details').innerHTML = category + ' | ' + category2 + '<br>' + description + '<br><strong>' + price + '</strong> <i class="bx bx-star rating-star"></i><span class="rating">' + rating + '</span>';
    document.getElementById('csiresz').classList.add('active');
  }

  function closeQuickView() {
    document.getElementById('csiresz').classList.remove('active');
  }
</script>


{% endblock content %}
