:root {
	--body-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: #695cfe;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #707070;
	--text-color-dark: #f6f5ff;
	--grey: #545454;
	--black: #000000;
	--white: #fff;

	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;

}


.button-33 {
    box-shadow: var(--grey) 0 0 16px;
    background-color: var(--white);
    border-radius: 100px;
    color: var(--black);
    cursor: pointer;
    display: inline;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2vh;
    margin-right: 1vh;
  }
  
.button-33:hover {
    transform: scale(1.05) rotate(-1deg);
  }

.add-to-cart{
  background-color: rgb(16, 184, 16);
  font-weight: 500;
}

.view{
  background-color: rgba(173, 173, 255, 0.599);
  font-weight: 500;
}

